<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    
  <ion-list *ngIf="users">
    <ion-item *ngFor="let user of users" (click)="viewDetail(user)">
      {{ user.Firstname }} {{ user.Lastname }}
      <ion-icon name="eye" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
